/* Navbar Styles */

.navbar {
    background-color: #343a40;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
  }
  
  .navbar-brand {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  @media (max-width: 991.98px) {
    .navbar-nav {
      flex-direction: row;

    }
  
    .nav-link {
      padding: 12px 0;
      border-bottom: 1px solid #dee2e6;
    }
  
    .nav-link:last-child {
      border-bottom: none;
    }
  }
  
  /* Main Content Styles */
  
  .container {
    max-width: 1440px;
  }
  
  /* Utility Classes */
  
  .mt-4 {
    margin-top: 1.5rem;
  }

  .active {
    background-color: white;
    color: black;
    /* padding: 10px; */
  }
  
  