<header *ngIf="showHeader">
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/login">Home</a>
      <a class="navbar-brand" [routerLink]="['/project']" [ngClass]="{'active': isProjectsSelected}" (click)="isProjectsSelected = true; isPoSelected = false; isEmployeeSelected = false; isAuditSelected = false;">Projects</a>
      <a class="navbar-brand" [routerLink]="['/purchase-order']" [ngClass]="{'active': isPoSelected}" (click)="isProjectsSelected = false; isPoSelected = true; isEmployeeSelected = false; isAuditSelected = false;">PO</a>
      <a class="navbar-brand" [routerLink]="['/employee']" [ngClass]="{'active': isEmployeeSelected}" (click)="isProjectsSelected = false; isPoSelected = false; isEmployeeSelected = true; isAuditSelected = false;">Employees</a>
      <a class="navbar-brand" [routerLink]="['/audit']" [ngClass]="{'active': isAuditSelected}" (click)="isProjectsSelected = false; isPoSelected = false; isEmployeeSelected = false; isAuditSelected = true;">Audit</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" style="margin-left: 97%;" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="container mt-4">
  <router-outlet></router-outlet>
</main>
