<form #form="ngForm"  (ngSubmit)="addProject()">
    <h1>Add New Project</h1>
    <div class="row" >
        <div class="col-md-6">
            <div class="form-group">
            <label for="name" class="form-label">Project name</label>
           <input type="text" class="form-control" id="name" 
            name="name" [(ngModel)]="addEmployeeRequest.name" required #name="ngModel">
            <div class="error-field" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors?.['required']">Project Name is required</div>
              </div>
        </div> 
      <div class="form-group">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" 
                    name="description" [(ngModel)]="addEmployeeRequest.desc"></textarea>
            </div>
        <div class="form-group">
            <label for="start_date" class="form-label">Start date</label>
           <input type="date" class="form-control" id="start_date"
            name="start_date" [(ngModel)]="addEmployeeRequest.start_date" required #start_date="ngModel" pattern="\d{4}-\d{2}-\d{2}">
            <span id="startDateError"></span>

            <div  class="error-field" *ngIf="start_date.invalid && (start_date.dirty || start_date.touched)">
                <div *ngIf="start_date.errors?.['required']">Start Date is required</div>
                <div *ngIf="start_date.errors?.['pattern']">Start Date is invalid</div>
                </div> 
        </div> 
        <div class="form-group">
            <label for="due_date" class="form-label">Due date</label>
           <input type="date" class="form-control" id="due_date"
            name="due_date"  [(ngModel)]="addEmployeeRequest.due_date" required #due_date="ngModel" pattern="\d{4}-\d{2}-\d{2}">
        <div  class="error-field" *ngIf="due_date.invalid && (due_date.dirty || due_date.touched)">
            <div *ngIf="due_date.errors?.['required']">Due Date is required</div>
            <div *ngIf="due_date.errors?.['pattern']">Due Date is invalid</div>
        </div>
    </div> 
    <div class="form-group">
        <label for="poId" class="form-label">PO</label>
        <select class="form-control" [(ngModel)]="addEmployeeRequest.poId" required #poId="ngModel" [(ngModel)]="addEmployeeRequest.poId" [ngModelOptions]="{standalone: true}"  >
            <option value="">-- Select a PO --</option>
            <option *ngFor="let po of pos" [ngValue]="po.id">{{po.name}}</option>
        </select>
            <div class="error-field" *ngIf="poId.invalid && (poId.dirty || poId.touched)">
                <div *ngIf="poId.errors?.['required']">PO is required</div>
              </div>
    </div>
    </div>
    <div class="col-md-6">

        <div class="form-group">
            <label for="reference" class="form-label">Reference</label>
           <input type="text" class="form-control" id="reference" 
            name="reference" [(ngModel)]="addEmployeeRequest.reference">
        </div> 
        <div class="form-group">
            <label for="billable" class="form-label">Billable</label>
           <input type="number" class="form-control" id="billable" 
            name="billable" [(ngModel)]="addEmployeeRequest.billable"  
            (ngModelChange)="setNzMaxTagCount()" 
            required #billable="ngModel" pattern="^[1-9]\d*$">
            <div  class="error-field" *ngIf="billable.invalid && (billable.dirty || billable.touched)">

                <div *ngIf="billable.errors?.['required']">Billable is required</div>
                <div *ngIf="billable.errors?.['pattern']">Billable must be number and greater than 0</div>
                </div>
        </div> 
        <div class="form-group">
            <label for="rate" class="form-label">Rate</label>
           <input type="text" class="form-control" id="rate" 
            name="rate" [(ngModel)]="addEmployeeRequest.rate" required #rate="ngModel" pattern="\d+(\.\d{1,2})?">
            <div  class="error-field" *ngIf="rate.invalid && (rate.dirty || rate.touched)">
                <div *ngIf="rate.errors?.['required']">Rate is required</div>
                <div *ngIf="rate.errors?.['pattern']">Please enter a valid rate (e.g. 12.34)</div>
                </div>
        </div> 

        <div class="form-group">
            <label for="capex_code" class="form-label">Capex code(Optinal)</label>
           <input type="text" class="form-control" id="capex_code" 
            name="capex_code" [(ngModel)]="addEmployeeRequest.capex_code">
        </div>
        <div *ngIf="nzMaxTagCount > 0">
        <label  style="margin-top: 10px" class="form-label">Employees</label>
           <nz-select   nzAllowClear
            nzMode="multiple"
            nzPlaceHolder="Only {{nzMaxTagCount}} employee can be selected "
            [nzMaxMultipleCount]="nzMaxTagCount"
            [nzMaxTagCount]="5"
            [(ngModel)]="addEmployeeRequest.employeeIds"
            name="employee"
            >
                <nz-option   *ngFor="let employee of employees; let i = index" [nzLabel]="employee.name" [nzValue]="employee.employeeId" ></nz-option>
              </nz-select> 
            </div>
    </div>
    </div>
    <div  style="margin-top: 20px;">
        <button  style="margin-right: 10px;"  type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        <a class="btn btn-secondary" routerLink="/project">Cancel</a>
        </div>
</form>
