<div class="container my-5" style="font-size: 18px">
    <h1 class="mb-2">Add New Employee</h1>
  
    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="addEmployee()" novalidate>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="EmployeeRequest.name" required #name="ngModel">
            <div class="error-field" *ngIf="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors?.['required']">Name is required.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="EmployeeRequest.email" required email #email="ngModel">
            <div  class="error-field" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['email']">Invalid email format.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="EmployeeRequest.phone" required pattern="[0-9]{10}" #phone="ngModel">
            <div class="error-field" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
              <div *ngIf="phone.errors?.['required']">Phone is required.</div>
              <div *ngIf="phone.errors?.['pattern']">Phone number must be 10 digits.</div>
            </div>
          </div>
          <div  style="margin-top: 20px;">

            <button  style="margin-right: 10px;"  type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
            <a class="btn btn-secondary" routerLink="/employee">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>