.employee-header {
  display: flex;
  align-items: center;
  }
  
  .add-button {
    margin-left: 10px;
  }
  .pagination {
    display: flex;
    justify-content: right;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    display: inline-block;
    margin-right: 10px;
  }
