      <div class="container my-3" style="font-size: 15px;" >
        <div style="display: flex; padding-bottom: 10px;">
      <h1 class="mb-3" style="margin-left: 30%;">EMPLOYEE MANAGEMENT</h1>
      </div>

      <div class="header-container">
        <div class="employee-header">
      <button class="btn btn-primary" [routerLink]="['/employee','add']" >
        <i class="fa fa-plus"></i> Add
      </button>   
    </div>
    <div class="search-bar" >
      <form #searchForm="ngForm"  (ngSubmit)="onSearch()" >
        <div class="search-input">
          <input type="text" class="form-control" id="search_name" name="search_name" placeholder="Search for employee"  [(ngModel)]="search_name"  required>
          </div>
          <button type="submit" class="btn btn-info">
            <i class="fa fa-search"></i>Search
          </button>
      </form>
    </div>
  </div>


    <div *ngIf="!search_name ">
          <table class="table">
      <thead  style="font-size: 20px;">
        <tr >
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody style="font-size: 20px;">
        <tr *ngFor="let employee of employees | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
          <td>{{ (p - 1) * pageSize + i + 1 }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.phone }}</td>
          <td>
            <a style="margin-right: 1%"  data-bs-toggle="tooltip" title="Edit" [routerLink]="['/employee','edit', employee.employeeId]" class="btn btn-primary ">
              <i class="fas fa-edit"></i> 
            </a>
            <button style="margin-right: 1%"  data-bs-toggle="tooltip" title="Delete" type="button" class="btn btn-danger" (click)="deleteEmployee(employee.employeeId)">
              <i class="fas fa-trash"></i> 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="search_name && matchingEmployee.length === 0" class="text-center">
    <table class="table">
      <thead  style="font-size: 20px;">
        <tr >
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="11" class=" text-danger font-weight-bold">No matching PO found</td>
        </tr>
  </tbody>
</table>
</div>
<div *ngIf="search_name && matchingEmployee.length > 0">
  <table class="table">
    <thead  style="font-size: 20px;">
      <tr >
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="font-size: 20px;">
      <tr *ngFor="let employee of matchingEmployee | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
        <td>{{ (p - 1) * pageSize + i + 1 }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>
          <a  style="margin-right: 1%"  data-bs-toggle="tooltip" title="Edit" [routerLink]="['/employee','edit', employee.employeeId]" class="btn btn-primary ">
            <i class="fas fa-edit"></i> 
          </a>
          <button style="margin-right: 1%"  data-bs-toggle="tooltip" title="Delete" type="button" class="btn btn-danger" (click)="deleteEmployee(employee.employeeId)">
            <i class="fas fa-trash"></i> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>

  