<div class="container my-3" style="font-size: 15px;" >
    <div style="display: flex; padding-bottom: 10px;">
  <h1 class="mb-3" style="margin-left: 30%;">AUDIT MANAGEMENT</h1>
  </div>

  <table class="table">
    <thead  style="font-size: 20px;">
      <tr >
        <th>#</th>
        <th>Project</th>
        <th>Column edit</th>
        <th>Old Value</th>
        <th>New Value</th>
        <th>Created Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="font-size: 20px;">
      <tr *ngFor="let log of logs | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
        <td>{{ (p - 1) * pageSize + i + 1 }}</td>
        <td>{{ log.tableName }}</td>
        <td>{{ log.columnName }}</td>
        <td>{{ log.oldValue }}</td>
        <td>{{ log.newValue }}</td>
        <td>{{ log.createdDate }}</td>
        <!-- <td>
            <button style="margin-right: 1%"  data-bs-toggle="tooltip" title="Delete"  type="button" class="btn btn-danger" (click)="deleteAudit(log.id)">
              <i class="fas fa-trash"></i> 
            </button>
            </td> -->
      </tr>
    </tbody>
  </table>

  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>

