.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-title {
    flex-grow: 1;
    margin-right: 20px;
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    display: inline-block;
    margin-right: 10px;
  }

.header-title {
  flex-grow: 1;
  margin-right: 20px;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  display: inline-block;
  margin-right: 10px;
}

.add-button {
  margin-left: 10px;
}

.project-header {
  display: flex;
  align-items: center;
}

td.employee-cell {
  vertical-align: middle;
  height: 50px;
}

.na-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.btn-outline-info {
  color: #000;
}
.pagination {
  display: flex;
  justify-content: right;
}
.table {
  width: 100%;
  border: none;
  padding: 8px;
  margin-left: 0em;
  overflow: auto;
  margin: 10px;
}
.bg-running {
  font-size: 18px;
}

.bg-expired {
  color: red;
  text-decoration: line-through;
  font-size: 18px;
}
.text-danger {
  color: red;
}
       
.po-btn {
  position: relative;
  top: -8px;
  font-size: 20px;
  font-weight: normal;
  
}



